# Task 1

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import warnings
warnings.filterwarnings('ignore')

Matplotlib is building the font cache; this may take a moment.

In [2]:
data = {
    'Weight':[2,4,5,3,6,5,7],
    'Price':[35,60,20,50,50,55,60]
}

In [3]:
df=pd.DataFrame(data)

In [4]:
df

   Weight  Price
0       2     35
1       4     60
2       5     20
3       3     50
4       6     50
5       5     55
6       7     60

In [5]:
x=df['Weight']
y=df['Price']

In [6]:
mean_x=np.mean(x)
mean_y=np.mean(y)

In [7]:
mean_x

4.571428571428571

In [8]:
mean_y

47.142857142857146

In [9]:
dev_x = x - mean_x
dev_y = y - mean_y

In [10]:
dev_x

0   -2.571429
1   -0.571429
2    0.428571
3   -1.571429
4    1.428571
5    0.428571
6    2.428571
Name: Weight, dtype: float64

In [11]:
dev_y

0   -12.142857
1    12.857143
2   -27.142857
3     2.857143
4     2.857143
5     7.857143
6    12.857143
Name: Price, dtype: float64

In [12]:
m = np.sum(dev_x*dev_y)/np.sum(dev_x**2)

In [13]:
c = mean_y - (m*mean_x)

In [14]:
print(f"Slope (m): {m}")
print(f"Intercept (c): {c}")

Slope (m): 2.620967741935484
Intercept (c): 35.16129032258065

In [15]:
new_value = float(input('Enter any value of weight: '))
predict = m*new_value + c
print('predicted price is: {price}'.format(price=predict))

Enter any value of weight: 6
predicted price is: 50.88709677419355

# Task 2

In [16]:
predict = m*x + c

In [17]:
predict

0    40.403226
1    45.645161
2    48.266129
3    43.024194
4    50.887097
5    48.266129
6    53.508065
Name: Weight, dtype: float64

In [18]:
Residual = y - predict

In [19]:
Residual

0    -5.403226
1    14.354839
2   -28.266129
3     6.975806
4    -0.887097
5     6.733871
6     6.491935
dtype: float64

# Task 3

In [20]:
from sklearn.linear_model import LinearRegression

In [22]:
reg=LinearRegression()

In [28]:
xtest=df.drop('Price',axis=1)
ytest=df[['Price']]

In [27]:
xtest

   Weight
0       2
1       4
2       5
3       3
4       6
5       5
6       7

In [29]:
ytest

   Price
0     35
1     60
2     20
3     50
4     50
5     55
6     60

In [30]:
reg.fit(xtest,ytest)

LinearRegression()

In [31]:
reg.predict(xtest)

array([[40.40322581],
       [45.64516129],
       [48.26612903],
       [43.02419355],
       [50.88709677],
       [48.26612903],
       [53.50806452]])

In [32]:
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [35]:
MSE = mean_squared_error(ytest, reg.predict(xtest))

In [36]:
MSE

167.30990783410135

In [37]:
MAE = mean_absolute_error(ytest, reg.predict(xtest))

In [38]:
MAE

9.87327188940092

# Task 4

In [39]:
df

   Weight  Price
0       2     35
1       4     60
2       5     20
3       3     50
4       6     50
5       5     55
6       7     60

In [40]:
df.to_excel('DataSet.xlsx')